{% extends 'base.html' %}

{% block title %}Welcome to Bookstore{% endblock %}

{% block content %}
<h2>Welcome to Bookstore</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quae reiciendis similique<br>
    assumenda quasi dolorum dolore delectus, quas corporis beatae quos consequuntur, rerum cumque<br>
    excepturi ab magni tempore! Eos, modi?<br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
    Dicta, unde? Rerum consequatur tempora delectus praesentium aperiam officia commodi vitae<br>


</p>
{% endblock %}